.title {
  font-family: Arial;
  font-size: 40px;
  margin: auto;
  padding: 100px;
  text-align: center;
  text-transform: uppercase;
  width: 600px;
  height: 200px;
}

.p1 {
  font-family: Courier;
  font-size: 16px;
  float: left;
  width: 400px;
  display: inline;
  clear: both;
}

.p2 {
  font-family: Courier;
  font-size: 16px;
  float: right;
  width: 400px;
  clear: both;
  display: inline;
  text-align: right;
}

ul {
  margin: 200px;
  padding: 100px;
  width: 20px;
  display: inline-block;
}

#dots2 {
  padding-left: 100px;
}

h4 {
  margin: auto;
  text-align: center;
  padding-top: 40px;
  clear: both;
  padding-bottom: 80px;
}

#dots3 {
  padding-left: 200px;
}

.space {
  letter-spacing: 0.3em;
}

.large {
  font-size: 22px;
  font-weight: bold;
}
